<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Label</title>
<link href="/public/assets/css/0-bd26269a.css" rel="stylesheet"></head>
<body>
    <div id="root"></div>
    <!--<script src="/assets/main.js"></script>-->
<script type="text/javascript" src="/public/assets/js/common_6caedbff.js"></script><script type="text/javascript" src="/public/assets/js/app_6caedbff.js"></script></body>
</html>
